#coverLists {
    height:60vh;
    background-image: url("https://res.cloudinary.com/dp6ywbhvz/image/upload/v1635259958/coverlists2_pt745w.jpg");
    background-size:cover;
    background-position: center;
}

#coverLists h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    margin: 0px;
    padding: 163px 0px 0px 70px;
}

#blogSection {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        overflow: auto;
        background-color:#110f10;
}