#coverLists {
    height:60vh;
    background-image: url("https://res.cloudinary.com/dp6ywbhvz/image/upload/v1635259958/coverlists2_pt745w.jpg");
    background-size:cover;
    background-position: center;
}

#coverLists h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    margin: 0px;
    padding: 163px 0px 0px 70px;
}

#listBody {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        overflow: auto;
        background-color:#110f10;
}

#listBtns {
    margin:15px;
}

/* Dropdown Button */
.dropbtn {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #110f10;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: 'Indie Flower', cursive;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin:0px 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .listCard {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 90%;
    margin: 40px;
    box-shadow: 0px 0px 10px 5px grey;
}

.listCard h1 {
    color: black;
    font-size:170px;
    font-family: 'Indie Flower', cursive;
}
