#mountainsLists {
    height:60vh;
    background-image: url("https://res.cloudinary.com/dp6ywbhvz/image/upload/v1635890100/mount_j1vzxa.jpg");
    background-size:cover;
    background-position: center;
}

#mountainsLists h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    margin: 0px;
    padding: 163px 0px 0px 70px;
}