

#coverPlaces {
    height:60vh;
    background-image: url("../../Assets/Places/coverPlaces.jpeg");
    background-size:cover;
    background-position: center;
}

#coverPlaces h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    margin: 0px;
    padding: 163px 0px 0px 70px;
}

#locationCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    
}

.card {
    display:flex;
    align-items:center;
    justify-content: center;
    height:400px;
    width:400px;
    margin: 20px;
    box-shadow: 0px 0px 10px 5px grey;
}

.imagePlaces {
    height:400px;
    width:400px;
    margin: 20px;
    z-index:-1;
    background-size: cover;
}

.nameOfPlace {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size:50px;
    position: absolute;
}