

#coverPlaces {
    height:60vh;
    background-image: url("../../Assets/Places/coverPlaces.jpeg");
    background-size:cover;
    background-position: center;
}

#coverPlaces h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    margin: 0px;
    padding: 163px 0px 0px 70px;
}

#locationCards {
    display:flex;
    flex-direction: row;
}

.card {
    height:400px;
    width:400px;
    margin: 20px;
    display:flex;
    flex-direction: row;
}

#place {
    color: black;
}