#callToAction {
    background-image: url("../../Assets/CallToAction.jpeg");
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#callToAction h1 {
    color:white;
    font-size:100px;
    /* margin:0px 50px; */
    margin: 150px 0px 0px 50px;
    /* align-self: center; */
    font-family: 'Indie Flower', cursive;
}

#callToAction p {
    font-family: 'Indie Flower', cursive;
    color: white;
    align-self: end;
    font-size:25px;
}